{% extends "lms/base.html" %}

{% block content %}
 <div class="ui main container">
    {% if form.errors %}
    <br />
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <br />
    <br />
    <h2>Student Login</h2>
    <form method="post" action="{% url 'login' %}" >
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
          </form>
            <br/>
        <p><a href="{% url 'password_reset' %}">Forgotten your  password?</a></p>
          <br/>
    <div class="text-center">Do not have account? <a href="{% url 'lms:studentsignup' %}">Signup here</a></div>
 </div>
{% endblock %}


